<!-- <p>categorie works!</p> -->

<div class="container w-screen h-screen p-8  flex justify-center items-center ">
    <div class="w-4/5 border-2 h-4/5 dark:border-gray-900 shadow-2xl rounded-xl text-gray-800">
        <div class="h-20 ">
            <h1 class="font-bold p-3 text-2xl"><strong>Categorie</strong></h1>
            <div class="flex items-center justify-end pr-16">
                <svg class="h-8 w-8 " width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="8" cy="12" r="2" />
                    <rect x="2" y="6" width="20" height="12" rx="6" />
                </svg>
            </div>
        </div>
        <div class="w-full h-1/4 border-2 ">
            <form class="w-full h-full  flex items-center justify-around">
                <div class="flex justify-between  items-center">
                    <label for="libelle" class="font-bold ">Libelle</label>
                    <input type="text"
                        class="w-10/12 p-3 ms-8 rounded-xl focus:outline-none focus:border-blue-500 dark:border-gray-900 border-2"
                        placeholder="Saisir le libelle" id="libelle">
                </div>
                <div class="w-8/12">
                    <button class="w-24 h-11 border-2 rounded-xl bg-green-700 text-white">Ok</button>
                </div>

            </form>
        </div>
        <div class="w-full h-1/2 mt-3">
            <div class="w-full p-3 flex justify-between items-center">
                <h3 class="font-bold text-2xl ms-3">Liste des categories</h3>
                <button class="bg-red-700 border-2 rounded-md p-2 text-white mr-8">Supprimer</button>
            </div>
            <div class="max-h-44">


                <div class="relative overflow-x-auto ms-4">
                    <table class="w-1/2 text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    #
                                </th>
                                <th scope="col" class="px-6 py-3">
                                   Libelle
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Apple MacBook Pro 17"
                                </th>
                                <td class="px-6 py-4">
                                    Silver
                                </td>
                               
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Microsoft Surface Pro
                                </th>
                                <td class="px-6 py-4">
                                    White
                                </td>
                             
                            </tr>
                            <tr class="bg-white dark:bg-gray-800">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Magic Mouse 2
                                </th>
                                <td class="px-6 py-4">
                                    Black
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>